
@import 'variables';

@mixin header-font {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
}

@mixin search-box {
  height: $input-height;
  padding: 0 12px;
  color: $light-gray;
  font-family: inherit;
  font-style: italic;
  font-size: 13px;
  border: 1px solid $lighter-gray;
  vertical-align: middle;
}

@mixin nav-hover-effect ($thickness) {
  border-bottom: $thickness solid lightgray;
  transition: 0.3s;
  cursor: pointer;
}

@mixin more-hover-effect {
  opacity: 0.7;
  transition: 0.2s;
  cursor: pointer;
}
