
@import 'mixins.scss';
@import 'variables.scss';


* {
  // border: 2px solid cyan;
}

body {
  font-family: Georgia,times new roman,Times,serif;
  text-align: center;
  position: relative;
  line-height: 1.7;
  color: $charcoal;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#logo-container {
  #logo {
    width: 350px;
    margin: 25px 0 20px;
  }
}

#nav-container {
  text-align: right;

  ul {
    display: flex;
    justify-content: space-between;
    li {
      display: inline-block;
    }
  }
  a {
    @include header-font;
    font-size: 15.5px;
    padding: 12px;

    &:hover {
      border-bottom: 5px solid lightgray;
      transition: 0.3s;
    }
  }

  nav {
    padding-top: 20px;
  }
}

#nav-top {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 20px;
  max-width: 100%;

  .icon {
    color: white;
    background-color: black;
    height: 36px;
    width: 36px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
    margin: 3px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
  }

  #header-search {
    position: relative;
  }

  input {
    @include search-box;
    margin-left: 20px;
    width: 20em;
    border-right: none;
  }

  button {
    position:absolute;
    top: 0;
    right: 0;
    font-size: inherit;
    height: $input-height;
    background-color: inherit;
    border: 1px solid $lighter-gray;
    border-left: none;
    cursor: pointer;
  }
}

#featured-row {
  display: flex;

  .featured-img {
    margin: 0 6px;
  }
}

.sign-up-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 18px auto;
  letter-spacing: .15em;
  font-size: 10px;

  h3 {
    @include header-font;
    height: 52px;
    line-height: 52px;
  }

  em {
    width: 180px;
    height: 52px;
    padding: 0 8px;
    display: inline-block;
    vertical-align: middle;
  }

  input {
    @include search-box;
    width: 20%;
    display: inline-block;
    font-family: inherit;
    margin: 0 5px;
  }

  button {
    @include header-font;
    background-color: transparent;
    border: none;
  }
}


#main-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


#latest-foods-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .fork {
    display: block;
    height: 8px;
    background: url('../img/fork.png') center no-repeat;
    background-size: auto;
    background-size: auto 100%;
  }
}

.article {
  width: 48%;
  float: left;
  overflow: hidden;
  margin: 0 0 50px;
  margin-right: 0px;
  text-align: center;

  .article-title-link {
    @include header-font;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      border-bottom: 10px solid $light-gray;
      transition: 0.2s;
    }
  }

  .continue-reading {
    img {
      width: 175px;
      height: 45px;
    }
  }

  img {
    width: 100%;
  }
}


#sidebar {
  width: 300px;
  white-space: normal;
  padding: 0 20px;

  #top-sidebar {
    width: inherit;
  }

  img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {

  #main-inner {
    flex-direction: column;
    align-items: center;
  }
}
