
@import 'mixins.scss';
@import 'variables.scss';


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia,times new roman,Times,serif;
  text-align: center;
  position: relative;
  line-height: 1.7;
  color: $charcoal;
}

#container {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#logo-container {
  #logo {
    width: 300px;
    margin: 25px 0 20px;
  }
}

#nav-container {
  text-align: right;

  ul {
    display: flex;
    justify-content: space-between;
    li {
      display: inline-block;
    }
  }
  a {
    @include header-font;
    font-size: 15.5px;
    padding: 12px;

    &:hover {
      @include nav-hover-effect(5px);
    }
  }

  nav {
    padding-top: 20px;
  }
}

#nav-top {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 20px;
  max-width: 100%;

  .icon {
    color: white;
    background-color: black;
    height: 36px;
    width: 36px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
    margin: 3px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
  }

  #header-search {
    position: relative;
  }

  input {
    @include search-box;
    margin-left: 20px;
    width: 20em;
    border-right: none;
  }

  button {
    position:absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    font-size: inherit;
    height: $input-height;
    background-color: inherit;
    border: 1px solid $lighter-gray;
    border-left: none;
    cursor: pointer;
  }
}

#featured-row {
  display: flex;

  .featured-img {
    margin: 0 6px;
  }
}

.sign-up-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 18px auto;
  letter-spacing: .15em;
  font-size: 10px;

  h3 {
    @include header-font;
    height: 52px;
    line-height: 52px;
  }

  em {
    width: 180px;
    height: 52px;
    padding: 0 8px;
    display: inline-block;
    vertical-align: middle;
  }

  input {
    @include search-box;
    width: 20%;
    display: inline-block;
    font-family: inherit;
    margin: 0 5px;
  }

  button {
    @include header-font;
    background-color: transparent;
    border: none;
  }
}


#main-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


#latest-foods-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .fork {
    display: block;
    height: 8px;
    margin: 15px;
    background: url('../img/fork.png') center no-repeat;
    background-size: auto;
    background-size: auto 100%;
  }
}

.article {
  width: 48%;
  float: left;
  overflow: hidden;
  margin: 0 0 50px;
  margin-right: 0px;
  text-align: center;

  .article-date {
    @include header-font;
    color: $light-gray;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin: 15px 0 0 0;
  }

  .article-title-link {
    @include header-font;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      @include nav-hover-effect(10px);
    }
  }

  .continue-reading {
    img {
      width: 175px;
      height: 45px;
      margin-top: 15px;

      &:hover {
        @include more-hover-effect;
      }
    }
  }

  img {
    width: 100%;
  }
}


#sidebar {
  width: 300px;
  white-space: normal;
  padding: 0 0 0 40px;

  #top-sidebar {
    width: inherit;
  }

  .cookbook-sidebar {
    width: inherit;
    margin-top: 40px;

    .shop-row {
      @include header-font;
      letter-spacing: 1px;
      color: $light-gray;

      p {
        font-size: 10px;
      }

      a {
        color: black;
        font-size: 10px;
        text-decoration: none;

        &:hover {
          @include more-hover-effect;
        }
      }
    }
  }

  // p {
  //   font-size: 15px;
  //   padding: 0 10px;
  // }

  #more-about {
    width: 140px;

    &:hover {
      @include more-hover-effect;
    }
  }

  #search-recipes {

    margin-top: 50px;

    p {
      @include header-font;
      font-size: 15px;
      margin-bottom: 8px;
    }

    input {
      @include search-box;
      width: 86%;
      border-right: none;
      float: left;
    }

    button {
      padding-right: 10px;
      float: left;
      font-size: inherit;
      height: $input-height;
      background-color: inherit;
      border: 1px solid $lighter-gray;
      border-left: none;
      cursor: pointer;
    }
  }

  img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {

  #main-inner {
    flex-direction: column;
    align-items: center;
  }
}
