
@import 'mixins.scss';
@import 'variables.scss';


* {
  // border: 2px solid cyan;
}

body {
  font-family: Georgia,times new roman,Times,serif;
  text-align: center;
  position: relative;
  line-height: 1.7;
  color: $charcoal;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#logo-container {
  #logo {
    height: 25vh;
    margin: 25px 0 20px;
  }
}


#nav-container {
  text-align: right;

  ul {
    display: flex;
    justify-content: space-between;
  }
  a {
    @include header-font;
    font-size: 15.5px;
    padding: 12px;

    &:hover {
      border-bottom: 5px solid lightgray;
      transition: 0.3s;
    }
  }

  nav {
    padding-top: 20px;
  }
}

#nav-top {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin-top: 20px;

  .icon {
    color: white;
    background-color: black;
    height: 36px;
    width: 36px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
    margin: 3px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
  }

  input {
    height: $input-height;
    // width: calc(100% - 44px);
    margin-left: 20px;
    padding: 0 12px;
    color: $light-gray;
    font-family: inherit;
    font-style: italic;
    font-size: 13px;
    border: 1px solid $lighter-gray;
    border-right: none;
    vertical-align: middle;
    border-right-style: none;
    border-right-width: medium;
  }

  button {
    height: $input-height;
    padding-left: 0;
    background-color: inherit;
    border: 1px solid $lighter-gray;
    border-left: none;
    cursor: pointer;
  }
}


#nav-menu-items {
  li {
    display: inline-block;
  }
}


#featured-row {
  display: flex;

  .featured-img {
    margin: 0 6px;
  }
}

.sign-up-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 18px auto;
}


#main-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


#latest-foods-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .article {
    width: 48%;
    float: left;
    overflow: hidden;
    margin: 0 0 50px;
    margin-right: 0px;
    text-align: center;

    img {
      width: 100%;
    }
  }


  .fork {
    display: block;
    height: 8px;
    background: url('../img/fork.png') center no-repeat;
    background-size: auto;
    background-size: auto 100%;
  }
}


#sidebar {
  width: 300px;
  white-space: normal;
  padding: 0 20px;

  #top-sidebar {
    width: inherit;
  }

  img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {

  #main-inner {
    flex-direction: column;
    align-items: center;
  }
}
